### Practica 3

In [1]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd
import gradiente_descendiente_mse as gd


#importar el dataset
dataset = pd.read_csv("dataset_ejercicio_I_regresion_lineal.csv")
dataset

    size  price
0     65    2.0
1    150    3.5
2    120    1.8
3    250    4.2
4     70    3.0
5    180    3.7
6    130    2.8
7    200    5.0
8    150    4.5
9    100    2.5
10   230    4.7
11   140    3.6
12    80    3.2
13   240    5.0
14    90    3.5

In [5]:
x = dataset.drop(['price'],axis=1).values #todas menos la ultima columna
y  = dataset['price'].values

In [6]:
from sklearn.model_selection import train_test_split
x_train , x_Test ,y_train , y_test = train_test_split(x,y,test_size= 0.1, random_state= 0,shuffle = True)

In [7]:
gd.print_line(zip(x_train, y_train), 0, 2)

[80]